@font-face {
  font-display: swap;
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-weight: 100 900;
  src: url("./fonts/HankenGrotesk-Variable.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Newsreader";
  font-style: normal;
  font-weight: 200 800;
  src: url("./fonts/Newsreader-Variable.woff2") format("woff2");
}
