@import "@undp/design-system-react/style.css";
@import "@undp/design-system-react/theme.css";
@import "@undp/data-viz/style.css";
@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
}

.gender-lens-mode .gender-lens {
  background-color: #dfdcf9;
}

.gender-lens-mode div.gender-lens {
  background-color: #f1effd;
  outline: 1px solid #c3bdf5;
}

.undp-scrollbar::-webkit-scrollbar-button {
  display: none;
}

[aria-label="Data sources"] a,
[aria-label="Data sources"] a:hover {
  animation: none;
  background-image: none;
  color: var(--blue-500);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
